<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="https://raw.githubusercontent.com/yuiyeyo/Hepengku/main/assets/favicon.png" type="image/x-icon">

    <title>Hepengku - Add Income</title>
</head>
<body>
    <div class="expensespage">
    <div class="expensescard">
        <h1>How much money did you spend?</h1>
    <form name="expenses_form" class="incomeform">

        <label for="amount"></label>
        <input type="number" name="amount" class="field amount-input" placeholder="0.0" required style="width:90%;height: 5vh;"> <br>

        <label for="date">When? </label>
        <input type="date" name="date" class="field" required><br>
    
        <label>
            <input type="radio" name="category" value="Bills" required>
            Bills
        </label>
        <label>
            <input type="radio" name="category" value="Transport" required>
            Transport
        </label>
        <br>
        <label>
            <input type="radio" name="category" value="Food" required>
            Food
        </label>
        <label>
            <input type="radio" name="category" value="Shopping" required>
            Shopping
        </label>
        
        <br>
        

        <p class="error error--hidden"> </p>

        <input type="submit" value="Let's Start!" class="btn">
    </form>

    
    </div>
</div>
<script src="/static/js/jquery.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
