<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="https://raw.githubusercontent.com/yuiyeyo/Hepengku/main/assets/favicon.png" type="image/x-icon">

    <title>Sign Up to Hepengku!</title>
</head>
<body>
    <div class="budgetpage">
    <div class="budgeting">
        <h1>Now tell us, how much money do you usually spend per month on....</h1>
    <form name="budget_form">

        <label for="bills">Bills? </label>
        <input type="number" name="bills" class="field">

        <label for="transport">Transport? </label>
        <input type="number" name="transport" class="field"><br>

        <label for="food">Food? </label>
        <input type="number" name="food" class="field">

        <label for="shop">Shopping? </label>
        <input type="number" name="shop" class="field"><br>
        
        <label for="food">Others? </label>
        <input type="number" name="others" class="field"><br>
        

        <p class="error error--hidden"> </p>

        <input type="submit" value="Let's Start!" class="btn">
    </form>

    
    </div>
</div>
<script src="/static/js/jquery.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
