<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

    <title>Hepengku</title>
</head>
<body>
    <div class="homepage">
        <span class="home">
            <img class="homelogo" src="https://raw.githubusercontent.com/yuiyeyo/Hepengku/f1798f39cbb5ecee447b696d5dc9445607b1b512/assets/logo.svg">
        </span>
        <span class="signincard">
            <h2>Let's continue our journey!</h2>
    <form name="signin_form">

        <label for="email"></label>
        <input type="email" name="email" class="field" placeholder="Email" required><br>

        <label for="password"></label>
        <input type="password" name="password" class="field" placeholder="Password" required><br>

        <p class="error error--hidden"> </p>

        <input type="submit" value="Log In" class="btn">
    </form>
    <h6>First timer? <a href="/join">Click here</a> to get started!</h6>
</span>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/script.js"></script>
    </div>
</body>
</html>