<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Hepengku</title>
</head>
<body>
    <div class="homepage">
        <span>
            <img class="homelogo" src="">
        </span>
        <span class="signincard">
    <form name="signup_form">

        <label for="email">Email</label>
        <input type="email" name="email" class="field" required><br>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" required><br>

        <p class="error error--hidden"> </p>

        <input type="submit" value="Sign Up" class="btn">
    </form>
</span>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/script.js"></script>
    </div>
</body>
</html>