<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="https://raw.githubusercontent.com/yuiyeyo/Hepengku/main/assets/favicon.png" type="image/x-icon">

    <title>Sign Up to Hepengku!</title>
</head>
<body>
    <div class="signuppage">
    <div class="signup">
        <h1>Start your journey with us!</h1>
    <form name="signup_form">

        <label for="email"></label>
        <input type="email" name="email" class="field" placeholder="Email" required>

        <label for="password"></label>
        <input type="password" name="password" class="field" autocomplete="current-password" placeholder="Password" required><br>
        <br>

        <label for="name"></label>
        <input type="text" name="name" class="field" placeholder="What should we call you?" required> <br>

        <p class="error error--hidden"> </p>

        <input type="submit" value="Sign Up" class="btn">
    </form>

    
    </div>
</div>
<script src="/static/js/jquery.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
